.center-block{
    display: inline-block;
    vertical-align: middle;
}
.div-with-right-margin{
    margin: 0px 5px 0px 5px;
}
.div-with-top-margin{
    margin-top: 9px !important;
}
.col-flex-container{
    display: flex;
    flex-direction: column;
}
.col-flex-ele{
    flex: 1;
}
.navbar-title{
    border-left:1px solid #E6E6E6;
    padding-left: 10px;
    margin-left: 10px;
}

code {
    font-family: consolos;
    font-size: 15px;
}

/* button */
.info-button {
    color: #000000 !important;
    background: #ffffff !important;
    border: 1px solid #bfbfbf !important;
    padding: 5px 5px 5px 5px !important;
    font-size: 12px !important;
}

.flex-align-center {
	align-self: center;
}
.flex-div{
    display: flex;
}

.code-block{
    background: #F4F4F4;
    padding: 15px;
    border-radius: 7px;
}

.ace-tm .ace_gutter {
	background: #f3f9e9 !important;
}
.ace_editor{
    border: 1px solid #c7cbce !important;
}

.v-md-editor{
    border: 1px solid #bfbfbf;
}