.center-block{
    display: inline-block;
    vertical-align: middle;
}
.div-with-right-margin{
    margin: 0px 5px 0px 5px;
}
.div-with-top-margin{
    margin-top: 9px !important;
}
.col-flex-container{
    display: flex;
    flex-direction: column;
}
.col-flex-ele{
    flex: 1;
}