.center-block{
    display: inline-block;
    vertical-align: middle;
}
.div-with-right-margin{
    margin: 0px 5px 0px 5px;
}
.div-with-top-margin{
    margin-top: 9px !important;
}
.col-flex-container{
    display: flex;
    flex-direction: column;
}
.col-flex-ele{
    flex: 1;
}
.navbar-title{
    border-left:1px solid #E6E6E6;
    padding-left: 10px;
    margin-left: 10px;
}

code {
    font-family: consolos;
    font-size: 15px;
}